<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home | <%= title %>
    <link rel="stylesheet" href="/styles.css">
    </title>
</head>

<!-- mongodb+srv://godblessnyagawa:<password>@cluster0.8tybcem.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0 -->