<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <header>
            <h3>page for not found</h3>
            <p>return to <a href="/">homepage</a></p>
        </header>
        <%- include("./partials/footer.ejs") %>
    </body>

</html>