<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>not found  </title>
    <style>
        body{
            font-family: Roboto;
        }
    </style>
</head>

<body>
    <header>
        <h3>page for not found</h3>
       <p>return to <a href="/">homepage</a></p>
    </header>
</body>

</html>