<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/navbar.ejs") %>
        <h3>About Us</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse fugiat dolor officiis, incidunt, consequuntur
            sed
            rem, omnis voluptate ipsam quod ab. Ad dignissimos voluptas consequatur adipisci illum molestiae deserunt
            totam?
        </p>
        <%- include("./partials/footer.ejs") %>
    </body>

</html>