<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <style>
        body{
            font-family: Roboto;
        }
    </style>
</head>

<body>
    <header>
        <h3>about page</h3>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">Search</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/player">player</a></li>
            </ul>
        </nav>
    </header>
    <h3>About Us</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse fugiat dolor officiis, incidunt, consequuntur sed
        rem, omnis voluptate ipsam quod ab. Ad dignissimos voluptas consequatur adipisci illum molestiae deserunt totam?
    </p>
</body>

</html>