<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

    <body>
        <div>
            <h1>Name: Débora Fernandes Mavambo</h1>
            <img src="../assets/debora.jpg" alt="">
            <div>
                <p>Born/Age: Born/Age2000-02-17(24 -yrs-old)Country of BirthAngola Angola</p>
                <p><strong>Nationality:</strong>Congo</p>
                <p><strong>Dual Nationality:</strong>Aangola</p>
                <p><strong>Position:</strong>Midfielder</p>
                <p><strong>Caps:</strong>Youth Caps</p>
                <p><strong>Preferred foot:</strong>Right</p>
                <p><strong>height:</strong>177 cm</p>
                <p><strong>status:</strong>active</p>
                <p><strong>Current Club:</strong>Simba</p>
            </div>
        </div>
        <%- include("./partials/footer.ejs") %>
    </body>

</html>