<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search | <%= title %> </title>
    <style>
        body {
            font-family: Roboto;
        }
    </style>
</head>

<body>
    <header>
        <h3>about page</h3>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">Search</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/player">player</a></li>
            </ul>
        </nav>
    </header>
    <form action="">
        <input type="search" name="" id="" placeholder="Search your fav topic">
    </form>
</body>

</html>