<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <body>
        <header>
            <h3>about page</h3>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/">Search</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/player">player</a></li>
                </ul>
            </nav>
        </header>
        <form action="">
            <input type="search" name="" id="" placeholder="Search your fav topic">
        </form>
        <%- include("./partials/footer.ejs") %>
    </body>

</html>